body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  margin: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(233, 233, 233);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

header img {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  max-height: 100%;
  cursor:pointer;
}

#logo-container {
  flex-grow: 0;
}

.logo-container img {
  max-height: 40px;
}


.search-container {
  display: flex;
  flex-grow: 1;
  margin-left: 350px;
  justify-content: center;
}

.search-container input[type="text"] {
  padding: 8px;
  margin-right: -7px;
  border: 2px solid rgb(184, 172, 172);
  width: 30%
 
}

.search-container input[type="text"]:focus {
  outline: none;
  border-color: dodgerblue;
}


.search-container button[type="submit"] {
  background-color: transparent;
  border: none;
  padding: 0;
  margin-left: 5px;
  border: 2px solid rgb(184, 172, 172);
  border-radius: 4px;
  padding: 6px 10px;
  background-color: rgb(230, 219, 219);
  transition: background-color 0.3s ease;
}

.search-container button[type="submit"]:hover {
  background-color: rgb(240, 217, 217);
  color: white;
}

.popup-button {
  display: inline-block;
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  cursor: pointer;
  margin-right: 10px;
}

.popup-button:hover{
  background-color: #ebebeb;
}

.popup-container {
  position: relative;
  z-index: 5;
}

.popup-box {
	position: fixed;
	z-index: 99;
	padding: 0px 0px 5px 3px;
	background-color: #f5f5f5;
	border-radius: 2px;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 5px 0px;
	margin-top: 0px;
  display: none;
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: right;
}

nav li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  color: black;
  text-decoration: none;
}

nav li a:hover {
  background-color: #91c9e4;
  color:white
}

#filter-container {
  background-color: #ffffff;
  padding: 5px;
  position: fixed;
  top: 48px;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  gap: 2%;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid rgb(233, 233, 233);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 3;
}

#sort-box {
  margin-left: auto; 
  margin-right: 10px;
}

#sort-drop-b {
}

#frame-container {
  width: 98%; 
  flex-grow: 1;
  display: flex;
  padding-top: 90px; /* Add margin to account for the height of the fixed header */
  overflow: auto;
}

#map-container {
  width: 60%;
  background-color: #ffffff;
  display: flex;
  justify-content: center; 
  align-items: center;
  position: sticky;
  top: 0;
  height: calc(100vh - 60px);
  overflow: hidden;
  z-index: 1;
}

#post-container {
  flex: 0 0 50%;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  gap: 0; /* Remove the gap between posts */
}

.post {
  background-color: white;
  padding: 5px;
  color: rgb(73, 66, 66);
  width: calc(33% - 20px); /* Adjust the width to accommodate five posts in two rows */
  box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 2px 0px, rgba(0, 0, 0, 0.15) 0px 3px 6px 0px;
  margin: 5px;
  display: flex; /* Add this to enable flex behavior */
  flex-direction: column; /* Stack the image and text vertically */
  align-items: flex-start; /* Align items to the top */
}

.post img {
  width: 100%;
  height: auto;
}

.post p {
  margin: 0;
}
.post h1 {
  margin: 0;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 5px;
  color: black;
}

.post h2 {
  margin: 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 1.2;
}

.post h3 {
  margin: 0;
  padding-bottom: 5px;
}

.post-text {
  font-size: 12px;
  line-height: 1.2;
}


#map {
  width: 100%;
  height: 100%;
}

.room-details {
  display: flex;
  align-items: center;
  
}

.room {
  margin-right: 1em;
  font-size: 14px;
  display: flex; /* Use flexbox */
  align-items: center; /* Center items vertically */
  white-space: nowrap;
}

.room img {
  height: 1.5em;
  margin-right: 0.2em;
}

.review-container {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 14px;
}

.property-details .review-container {
  font-size: 18px;
}

.star-rating {
  display: inline-block;
  margin-right: 5px;
}

.star-rating-container {
  
}

.star-rating {
  color: gold; /* Change the color as desired */
}


input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:hover {
  border-color: rgb(77, 82, 85);
}

input[type="checkbox"]:disabled {
  --form-control-color: var(--form-control-disabled);

  color: var(--form-control-disabled);
  cursor: not-allowed;
}

.form-control {
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

.form-control + .form-control {
  margin-top: 1em;
}

.form-control--disabled {
  color: var(--form-control-disabled);
  cursor: not-allowed;
}

.form-segment {
  display: flex;
  justify-content: space-between;
  flex-direction: column; /* Change the flex direction to column */
  margin-right: 20px; /* Add a margin-right value to create space between segments */
}

.form-container {
  display: flex;
  justify-content: space-between;
  padding: 5px 5px; /* Add padding to create space between the left and right segments */
}

.popup-box h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
}

.popup-box.visible {
  display: block;
}

.clear {
  position: absolute;
  top: 2px;
  right: 5px;
  cursor: pointer;
  color: #666666;
  font-size: 14px;
}

.clear:hover {
  color: #8a7f7f;
}

.range-slider {
    position: relative;
    width: 200px;
    height: 35px;
    text-align: center;
}

.range-slider input {
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 15px;
    width: 200px;
    outline: none;
    height: 18px;
    margin: 0;
    padding: 0;
}

.range-slider input::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
}

.range-slider input::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    width: 9px;
}

.range-slider input::-moz-range-track {
    position: relative;
    z-index: -1;
    background-color: rgba(0, 0, 0, 1);
    border: 0;
}

.range-slider input:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;
}

.range-slider input[type=range]::-moz-focus-outer {
  border: 0;
}

.rangeValue {
	width: 30px;
}

#rent-popup-box {
  padding: 0px 0px 18px 3px;
}

.output {
  position: absolute;
  width: 40px;
  height: 30px;
  color: #2e2b2b;
  display: inline-block;
  font: bold 15px/30px Helvetica, Arial;
  bottom: -80%;
  left: 50%;
  transform: translate(-50%, 0);
}

.output.outputTwo {
	left: 100%;
}

.container {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

input[type=range] {
  -webkit-appearance: none;
  background: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 5px;
  border: none;
  border-radius: 3px;
  background: transparent;
}

input[type=range]::-ms-track {
  height: 5px;
  background: transparent;
  border: none;
  border-radius: 3px;
}

input[type=range]::-moz-range-track {
  height: 5px;
  background: transparent;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #555;
  margin-top: -5px;
  position: relative;
  z-index: 10000;
}

input[type=range]::-ms-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #555;
  margin-top: -5px;
  position: relative;
  z-index: 10000;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #555;
  margin-top: -5px;
  position: relative;
  z-index: 10000;
}

input[type=range]:focus {
  outline: none;
}

.full-range,
.incl-range {
	width: 100%;
	height: 5px;
	left: 0;
	top: 21px;
	position: absolute;
	background: #DDD;
}

.incl-range {
	background: gold;
}

.range-slider {
  position: relative;
}

.left-label {
  position: absolute;
  left: 0;
  top: 0;
}

.right-label {
  position: absolute;
  right: 0;
  top: 0;
}


.dropdown {
  width: 100%;
  box-sizing: border-box;
  max-width: 160px;
}

.dropbtn {
  font-size: 16px;
  font-weight: normal;

  padding: 5px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  cursor: pointer;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-text {
  margin-right: auto;
}


.dropdown-content {
  display: none;
  position: fixed;
	z-index: 99;
	padding: 0px 0px 5px 3px;
	background-color: #f5f5f5;
	border-radius: 2px;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 5px 0px;
	margin-top: 0px;
}

#review-add-term-dropdown {
  width: 100%;
  height: 32px;
}

.dropdown-content a {
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

#property-page-container {
  color: black;
  flex-grow: 1;
  display: none;
  align-items: center;
  justify-content: center;
  padding-top: 45px; /* Add margin to account for the height of the fixed header */
  overflow: auto;
}

.property-page {
  height: 98%;
  width: 99%;
  background-color: white;
}

.property-details {
  display: grid;
  grid-template-columns: repeat(2, 38%); /* Two columns with equal width */
  grid-gap: 5px;
  padding: 0px 5px 5px 10px;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
}

.property-details p {
  flex-basis: 50%;
  box-sizing: border-box;
  padding: 0px 0px 0px 0px;
  margin: 0;
}

.property-name {
  font-size: 42px;
  font-weight: bold;
}


.floor-plan-left-container, .floor-plan-right-container {
  width: 50%;
  padding: 0px 10px 10px 10px;
}

.floor-plan {
  background-color: #fbfbfb;
  padding: 10px;
  margin-top: 10px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
}

.floor-plan p {
  flex-basis: 50%;
  box-sizing: border-box;
  border: 1px solid #dadada;
  padding: 5px 5px 10px 5px;
  margin: 0;
}

.floor-plan summary {
  cursor: pointer;
}

.floor-plan.expanded .floor-plan-details {
  display: block;
}

.floor-plan-main-container {
  display: flex;
  border-bottom: 2px solid #e0e0e0;
  margin-bottom: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.floor-plan.expanded ~ .floor-plan-container {
  margin-top: 20px; /* Adjust the margin as per your requirements */
}

.mySlides {display: none;}
.mySlides img {vertical-align: middle; width:100%; height: 100%;}
.slideshow-left .mySlides {height: 100%; width:100%;}

.slideshow-right .mySlides {
  height: 50%; /* Set the width to 50% of the parent container */
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97999px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.51361px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;
}

.next {
    right: 0;
}
.prev {
    left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */

/* Slideshow container */

/* Slideshow container */
.slideshow-container {
  height: 100%;
  position: relative;
  display: flex;
  margin: auto;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
}

.slideshow-left {
  flex: 1;
  flex-grow: 1;
}

.slideshow-right {
  flex: 1;
  flex-grow: 1;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.2s;
}

@keyframes fade {
  from {opacity: .8} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.slideshow {
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
  flex-basis: 75%;
}

.top-content {
  display: flex;
  height: 45vh;
}

.property-review-container {
  flex-basis: 50%;
  padding: 5px 0px 0px 0px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
}

.property-review-container p {
  flex-basis: 50%;
  padding: 0;
}

.property-tags {
  margin: 0;
  padding: 10px;
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.property-review-component {
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
}

.property-review-component h3 {
  margin: 0;
}

.property-review-component h4 {
  margin: 0;
  margin-top: 15px;
}

.property-reviews-container {
  padding: 5px;
  max-height: 50vh;
  overflow-y: auto;
  
}

.property-review {
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
  line-height: .6;
  padding: 5px 0px 0px 5px;
  max-height: 250px;
  overflow: hidden;
  position: relative;
}


.property-review:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0), white 70%);
  pointer-events: none;
  opacity: 0; /* Initially hide the fade effect */
  transition: opacity 0.3s; /* Add a transition for a smooth effect */
  height: 40px;
}

.property-review.has-overflow::after {
  opacity: 0.8; /* Show the fade effect for containers with overflow */
}


.property-review-add-container {
  background-color: #f1f1f1;
  border-radius: 4px;
}

.property-review-top {
  width: 100%;
  float: inline-end;
  font-weight: bold;
  margin: 10px 0px 10px 0px;
}

.property-review-name {
  margin-bottom: 0px;
}

.property-review-top p {
  display: inline-block;
  padding-right: 10px;
}


.property-review-date {
  color: #4d4a4a;
  font-size: 13px;
}

.property-review-text {
  line-height: normal;
  padding: 5px 10px 5px 10px;
}

#review-term-dropdown {
  position: inherit;
}

.property-review-bottom-container {
  display: flex;
}

.property-review-left-container {
  flex-basis: 10%;
  display: flex;
  flex-direction: column;
}

.property-review-right-container {
  flex-basis: 90%;
}

.property-review-top .star-rating-container {
  display: inline-block;
}

.property-tag-cont {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
}

.property-tag-cont h3 {
  margin: 0;
  padding: 5px 5px 5px 5px;
}

.star-filter {
  font-size: 18px;
  cursor: pointer;
}

.progress-bar-wrapper {
  width: 275px;
  padding: 0px 0px 15px 0px;
  display: flex;
}

.progress-bar-container {
  border: 1px solid rgb(201, 201, 201);
  border-radius: 5px;
  height: 16px;
  width: 100%;
}

.progress-bar-inner {
  background-color: rgb(255, 146, 4);
  border-radius: 4px;
  height: 100%;
}

.progress-bar-container:hover {
  border: 1px solid rgb(236, 135, 19);
  background-color: rgba(238, 226, 117, 0.192);
}

.text-cont {
  padding-right: 20px;
}

.link-block {
  padding-right: 20px;
  flex-basis: 45%;
}

.text-cont a {
  color: #008197
}

.text-cont a:link {
  text-decoration: black;
}

.text-cont a:hover {
  text-decoration: underline;
  color: rgb(236, 135, 19);
}

.text-cont a:focus {
  text-decoration: underline;
}

.review-star-filter-container {
  padding: 5px;
}

.star-filter-container {
  align-self: center;
  padding: 0px 15px 0px 0px;
}

#review-add-container {
  width: 100%;
}

#review-add-wrap{
  display: flex;
}

#review-add-text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  margin-top: 10px;
}

#review-add-wrapper h3 {
  margin: 5px 0px 0px 5px;
}

#review-add-left {
  flex-basis: 60%;
  padding: 0px 5px 5px 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
}

#review-add-right {
  flex-basis: 40%;
  padding: 0px 5px 5px 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
}

#review-add-tag-container {
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
  width: 100%;
  flex-basis: 100%;
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#review-add-text {
  height: calc(100% - 16px);
  resize: none;
}

#tag-add-text {
  padding: 5px 5px 5px 5px;
  width: 98%;
  align-self: center;
}

#property-tags {
  margin: 0;
  padding: 10px;
  width: 100%;
  height: 200px;
  display: inline-flex;
  align-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

#review-add-detail-wrapper {

}

#review-add-top {
  display: flex;
}

#review-add-detail-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 10px;
  box-sizing: border-box;
}

.input-container {
  display: flex;
  align-items: center;
  padding: 0px 10px 10px 15px;
  width: 50%;
  box-sizing: border-box;
}

.input-title {
  font-weight: bold;
  margin-right: 10px;
  width: 100px; /* Adjust the width as desired */
  align-self: baseline;
}

.input-field {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  max-width: 160px;
}

#header-det {
  text-align: left;
  margin: 0;
  font-weight: bold;
  padding: 5px 5px 5px 5px;
}

.review-add-input{
  margin: 0px 10px 5px 0px;
  font-weight: bold;
  align-self: end;
}

#review-add-top .star-filter-container {
  align-self: self-end;
  margin-bottom: 5px;

}

.tag-container {
margin: 5px 5px 5px 5px;
padding: 5px 5px 5px 5px;
background-color: #f9f4f4;
border: 1px solid #c4c4c4;
border-radius: 12px;
display: flex;
}

.review-add-top-wrapper {

}

.review-add-top-wrapper h4 {
  margin: 0;
}
.review-add-top-wrapper {
  margin-right: 10px;
}

#review-add-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #008197;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin: 10px 10px 10px 0px;
  width: 10%; 

}

#review-add-submit:hover {
  background-color: #005d69;
}
.review-maj-top {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rev-v-left {
  text-align: left;
  flex-basis: 50%;
}

.rev-v-right {
  text-align: right;
}
  

.rev-v-right  .rev-v-left {
  display: inline-block;
    width: 50%;
}

.review-maj-top {
  display: flex;
 
}
.rev-v-right table {
  width: 100%;
}

table td, table th {
  border: none !important;
  padding: 8px;
  font-family: 'Roboto', sans-serif; /* Replace with your desired font */
}

#review-view-tag-container {
  flex-basis: 30%;
}

#review-view-tag-container #property-tags {
  height: 0;
}

